

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forcast by city</h4>
        <div class="form-group">
            <input type="text" ng-model="city" class="form-control" />
        </div>
        <div class="btn btn-primary" ng-click="insertCity('#/weather')"> insert a city , country code</div>

        <div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
    </div>
</div>