<div  ng-hide="errorMessage">weather of {{city}} </div>
<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>

<div ng-repeat="item in weather">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{convertDate(item.dt) | date:'MMM d, y'}}</h3>
            </div>
            <div class="panel-body">
                <h3 class="panel-title">Temprature: {{convertToCel(item.temp.day)}} or {{convertToFahr(item.temp.day)}}</h3>
            </div>
        </div>
    </div>
</div>